.sidebarContainer {
  width: 280px;
  flex-shrink: 0;
  background-color: #f7f7f7;
  padding: 16px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e0e0e0;
}

.historyTitle {
  margin-top: 24px !important;
  margin-bottom: 8px !important;
}

.historyList {
  overflow-y: auto;
}

.link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}